/* .Sun-of-Midday-1-hex { color: #96ACD9; }
.Sun-of-Midday-2-hex { color: #C4D4F2; }
.Sun-of-Midday-3-hex { color: #035AA6; }
.Sun-of-Midday-4-hex { color: #034C8C; }
.Sun-of-Midday-5-hex { color: #023E73; } */
nav{
    background: linear-gradient(111.96deg, #2d3a57 21.67%, #2a5873 38%, #26889f 60.93%, #2e8ea0 63.74%, #4ba2a2 75.36%, #5dafa3 85.43%, #63b3a4 92.76%);
}
.card{
    margin: 0 auto !important;
    float: none !important;
    margin-bottom: 10px !important;
}

.navitems{
    padding: 5px 20px !important;
    color: white !important;
}

.nav-item .navitems::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #023E73;
    margin: auto;
    display: block;
}

.nav-item .navitems:hover::after{
    width: 100%;
    -o-transition: width 0.3s linear;
    -webkit-transition: width 0.3s linear;
    -ms-transition: width 0.3s linear;
    transition: width 0.3s linear;
}

.pantallaInicio{
    padding-top: 12px;
    padding-bottom: 12px;
}
.cuerpo{
    padding: 40px 35px;
}
.itemsClass{
    color: white;
}
.tituloInicial{
    color: #034C8C;
}
.parrafoInicial{
    font-size: 15px;
}
.ancho{
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.imagen-nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-image: url(./Imagenes/vigilancia.jpg);
    width: 100%;
    height: 198px;
    object-fit: cover;
    object-position: center;
}

.imagenes{
    width: 100%;
    height: 398px;
    object-fit: cover;
    object-position: center;
}

#productos{
    background-color: #c5c8cd78;
}
#tituloProductos{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card{
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img-top{
    width: 200px;
    height: 180px;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    object-position: center;
}

.parrafo-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font: size 15px;
}

h2{
    color:#034C8C;
}

.logo{
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
}

.logo-footer{
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
}

.navbar-brand{
    font-family: 'Gugi', cursive;
    font-weight: 500;
}

.contactoClass{
    background-color: #212529;
    color: white;
}
.cajaForm{
    background-color:  #023E73;
    padding: 50px;
    border-radius: 7px;
    box-shadow: 0 0 7px rgb(57, 57, 57);

}
.btn-enviar{
    background-color:  #2fd3c4;
}

.footerClass{
    background-color: #212529;
    padding: 15px 3px;
}

.footerClass .Redes-Sociales{
    text-align: center;
    padding-bottom: 25px;
    color: #26889f;
}

.footerClass .Redes-Sociales a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #26889f;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    margin-top: 25px;
}

.footerClass .Redes-Sociales a:hover{
    color: #2fd3c4;
}

.footerClass .derechos{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: white;
}
.itemsProd{
    height: 225px;
}

.imgProd{
    padding-top: 40px;
    padding-bottom: 40px;
}
.imgBorde{
    border: 0px;
}
.fa-star, .fa-star-half-stroke{
    color: #5650ab !important;
}
.envioGratis{
    color: #00a650;
}
.tituloItem{
    color: #333;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.3;
}
.precioItem{
    color: #333;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    margin-right: 8px;
}